@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500;600;900&display=swap");

body {
  background-color: #ccc;
  font-family: "Lato";
}

/* .purple-bit {
  position: relative;
  z-index: -1;
  background-color: blueviolet;
} */

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.nav-bar-style {
  font-weight: 500;
  position: relative;
  /* z-index: 1; */
  background-color: rgba(27, 25, 25, 0.897);
  color: #ccc;
  font-size: 0.7rem;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}

.logo {
  width: 2rem;
}

.nav-bar-style a {
  color: white;
  text-decoration: none;
}

.icon-nav {
  color: #ccc;
  display: flex;
  justify-content: space-between;
}

.icon-nav li {
  margin-right: 2rem;
}

/* .first-row .col {
  height: 100px;
} */

h2 {
  display: inline-block;
  font-size: small;
  font-weight: 600;
}

.game-card:hover .icons-holder {
  display: none;
}

.game-card:hover .game-cart {
  display: flex;
}

/* .game-card:hover .game-price {
  align-self: flex-end;
} */

.game-card img {
  height: 100px;
}

#flash-deals .game-card img {
  height: 150px;
}

#whats-good .game-card img.big-good {
  height: 275px;
}

.tagline {
  font-size: 0.6rem;
}

.tagline .col-8 {
  text-align: left;
}

.tagline .col-4 {
  text-align: right;
}

.tagline strong {
  color: purple;
}

hr {
  margin-top: 0.1rem;
  margin-bottom: 0.6rem;
}

.image-ad {
  object-fit: cover;
  width: 100%;
  height: 10rem;
}

.game-card {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.game-info {
  padding: 0.5rem;
}

.game-title {
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  /* font-weight: bold; */
}

.consoles-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.icons-holder {
  display: flex;
  flex-direction: row;
}

.consoles-icons i {
  font-size: 0.5rem;
}

.cover-image {
  object-fit: cover;
}

.discount {
  margin-left: auto;
  margin-right: 0.1rem;
  padding: 0.2rem;
  background-color: rgb(71, 6, 71);
  font-size: 0.6rem;
  font-weight: 600;
  color: #ccc;
  box-shadow: rgb(41, 4, 41) 1px;
}

.game-price {
  align-self: flex-end;
  font-weight: bold;
  /* display: inline-block; */
  font-size: 0.75rem;
  /* padding-bottom: 0.3rem; */
  /* text-align: right; */
}

.game-cart {
  display: none;
  margin-left: 0.4rem;
  padding: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: rgb(104, 148, 79);
  font-size: 0.6rem;
  font-weight: 600;
  color: #ccc;
  /* box-shadow: rgb(48, 68, 37) 2px 1px; */
}

/* .game-price,
.consoles-icons {
  display: inline-block;
} */

#discover .game-card img {
  padding: 0.25rem;
  width: 100px;
  height: 75px;
}

#discover .game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ccc;
}

#discover .game-card:hover {
  background-color: white;
}

#discover .game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-card-top {
  display: flex;
  flex-direction: row;
}

.discover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#discover .consoles-icons div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#discover .game-cart {
  margin-left: 0.4rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  background-color: rgb(104, 148, 79);
  font-size: 0.6rem;
  font-weight: 600;
  color: #ccc;
}

.carousel-indicators li {
  position: relative;
  /* bottom: 50px; */
  background-color: rgb(71, 6, 71);
}

.carousel-control-prev-icon {
  background-color: rgb(117, 112, 117);
  border-radius: 50%;
}

.carousel-control-next-icon {
  background-color: rgb(117, 112, 117);
  border-radius: 50%;
}

.discover-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#discover-second-col img {
  height: 120px;
}

#discover-second-col img.big-discover {
  height: 250px;
}

#discover-second-col img.second-big-discover {
  height: 240px;
}

#news img {
  height: 120px;
}

#news2 img {
  height: 120px;
}

#news3 img {
  height: 120px;
}

/* 
#test img {
  width: 100%;
}

.BIG-COLS img {
  height: 184px;
}

.NESTED-COLS img {
  height: 92px;
} */
